//destyling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//no scroll 4 page
body::-webkit-scrollbar {
  width: 0vw;
}
//cool scroll for elements
.container::-webkit-scrollbar {
  width: 2.4vw;
}
.container::-webkit-scrollbar-track {
  background: #07112a;
}
.container::-webkit-scrollbar-thumb {
  background: rgb(105, 32, 32);
  background: linear-gradient(
    90deg,
    rgba(105, 32, 32, 1) 0%,
    rgba(66, 27, 88, 1) 50%,
    rgba(103, 31, 31, 0.989233193277311) 100%
  );
}
.container::-webkit-scrollbar-button {
  background: rgb(7, 17, 42);
  background: linear-gradient(
    90deg,
    rgba(7, 17, 42, 1) 0%,
    rgba(103, 31, 31, 1) 50%,
    rgba(7, 17, 42, 1) 100%
  );
}
//smooth scroll
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  .section1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
  }
  .section2 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
  }
}
@media screen and (min-width: 1200px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      display: flex;
      justify-content: space-around;
      min-height: 8vh;
      width: 100%;
      background-color: rgb(92, 44, 94);
      align-items: center;
      .navlist {
        display: flex;
        width: 40%;
        justify-content: space-around;
      }
      .navlist a {
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-weight: bolder;
      }
      .navlist li {
        list-style: none;
      }
      .logo {
        height: 8vh;
        width: auto;
      }
      .burger {
        display: none;
      }
    }

    //first100vh style
    .section1 {
      display: flex;
      height: 92vh;
      width: 100%;
      justify-content: center;
      .h11,
      .h21 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        padding: 30px;
      }
      .text1 {
        position: absolute;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        left: 12.5vw;
        background-color: #07112a;
      }
      .h11 {
        position: relative;
        top: 100px;
        font-size: 40px;
        text-align: center;
      }
      .h21 {
        position: relative;
        top: 200px;
        text-align: center;
      }
      .FirstVhImg {
        height: 100%;
        width: 100%;
      }
    }

    //second100vh style
    .section2 {
      display: flex;
      height: 92vh;
      justify-content: center;
      .p11 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        top: 105%;
        font-size: 20px;
        padding: 10px;
        text-align: center;
      }
      .text1 {
        position: relative;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        background-color: #07112a;
      }
      .SecondVhImg {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .contactForm {
        position: relative;
        padding: 20px;
        height: 45vh;
        width: 75vw;
        left: 0vw;
        display: flex;
        padding: 30px;
        align-items: center;
        .fields {
          display: flex;
          flex-direction: column;
          margin-right: 4%;
        }
        .fieldHalf {
          background: transparent;
          border: 0px;
          border-bottom: 2px solid #7a236c;
          padding: 10px;
          width: 100%;
        }
        .fields {
          width: 40vw;
        }
        .field {
          width: 35vw;
          background: transparent;
          border: 0px;
          padding: 10px;
        }
        .recaptcha {
          align-self: center;
        }
        .message {
          width: 100%;
          height: 212px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7a236c;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #7a236c;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: #7a236c;
        }
        input[type="text"] {
          width: 100%;
          border: none;
          background-color: #07112a;
          border: none;
          font-size: 20px;
          outline-offset: 10px;
          color: #c742b1;
        }
        textarea {
          background-color: #07112a;
          outline: 2px solid #7a236c;
          color: #c742b1;
          font-size: 30px;
        }

        .buttonSubmit {
          position: relative;
          background: #000303;
          text-align: center;
          padding: 15px;
          border-radius: 10px;
          color: #c742b1;
          cursor: pointer;
          text-transform: uppercase;
          left: 0vw;
        }
        ul {
          list-style-type: none;
        }
        *:focus {
          outline: 2px solid #7a236c;
          box-shadow: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 850px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      display: flex;
      justify-content: space-around;
      min-height: 8vh;
      width: 100%;
      background-color: rgb(92, 44, 94);
      align-items: center;
      .navlist {
        display: flex;
        width: 50%;
        justify-content: space-around;
      }
      .navlist a {
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-weight: bolder;
      }
      .navlist li {
        list-style: none;
      }
      .logo {
        height: 8vh;
        width: auto;
      }
      .burger {
        display: none;
      }
    }

    //first100vh style
    .section1 {
      display: flex;
      height: 92vh;
      width: 100%;
      justify-content: center;
      .h11,
      .h21 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        padding: 30px;
      }
      .text1 {
        position: absolute;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        left: 12.5vw;
        background-color: #07112a;
      }
      .h11 {
        position: relative;
        top: 50px;
        font-size: 40px;
        text-align: center;
      }
      .h21 {
        position: relative;
        top: 100px;
        text-align: center;
      }
      .FirstVhImg {
        height: 100%;
        width: 100%;
      }
    }

    //second100vh style
    .section2 {
      display: flex;
      height: 92vh;
      justify-content: center;
      .p11 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        top: 105%;
        font-size: 20px;
        padding: 7px;
        text-align: center;
      }
      .text1 {
        position: relative;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        background-color: #07112a;
      }
      .SecondVhImg {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .contactForm {
        position: relative;
        padding: 20px;
        height: 45vh;
        width: 75vw;
        left: 0vw;
        display: flex;
        padding: 30px;
        align-items: center;

        .fields {
          display: flex;
          flex-direction: column;
          margin-right: 4%;
        }
        .fieldHalf {
          background: transparent;
          border: 0px;
          border-bottom: 2px solid #7a236c;
          padding: 10px;
          width: 100%;
        }
        .fields {
          width: 40vw;
        }
        .field {
          width: 35vw;
          background: transparent;
          border: 0px;
          padding: 10px;
          align-self: center;
          margin-top: 20px;
        }
        .recaptcha {
          align-self: center;
        }
        .message {
          width: 100%;
          height: 212px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7a236c;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #7a236c;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: #7a236c;
        }
        input[type="text"] {
          width: 100%;
          border: none;
          background-color: #07112a;
          border: none;
          font-size: 20px;
          outline-offset: 10px;
          color: #c742b1;
        }
        textarea {
          background-color: #07112a;
          outline: 2px solid #7a236c;
          color: #c742b1;
          font-size: 30px;
        }

        .buttonSubmit {
          position: relative;
          background: #000303;
          text-align: center;
          padding: 15px;
          border-radius: 10px;
          color: #c742b1;
          cursor: pointer;
          text-transform: uppercase;
          left: 0vw;
          width: 100%;
        }
        ul {
          list-style-type: none;
        }
        *:focus {
          outline: 2px solid #7a236c;
          box-shadow: none;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) and (min-width: 750px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      display: flex;
      justify-content: space-around;
      min-height: 8vh;
      width: 100%;
      background-color: rgb(92, 44, 94);
      align-items: center;
      .navlist {
        display: flex;
        width: 50%;
        justify-content: space-around;
      }
      .navlist a {
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-weight: bolder;
      }
      .navlist li {
        list-style: none;
      }
      .logo {
        height: 8vh;
        width: auto;
      }
      .burger {
        display: none;
      }
    }

    //first100vh style
    .section1 {
      display: flex;
      height: 92vh;
      width: 100%;
      justify-content: center;
      .h11,
      .h21 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        padding: 30px;
      }
      .text1 {
        position: absolute;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        left: 12.5vw;
        background-color: #07112a;
      }
      .h11 {
        position: relative;
        top: 50px;
        font-size: 25px;
        text-align: center;
      }
      .h21 {
        position: relative;
        top: 100px;
        text-align: center;
        font-size: 15px;
      }
      .FirstVhImg {
        height: 100%;
        width: 100%;
      }
    }

    //second100vh style
    .section2 {
      display: flex;
      height: 92vh;
      justify-content: center;
      .p11 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        top: 105%;
        font-size: 15px;
        padding: 7px;
        text-align: center;
      }
      .text1 {
        position: relative;
        width: 75vw;
        height: 75vh;
        top: 10vh;
        background-color: #07112a;
      }
      .SecondVhImg {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .contactForm {
        position: relative;
        padding: 20px;
        height: 45vh;
        width: 75vw;
        left: 0vw;
        display: flex;
        flex-direction: column;
        padding: 30px;
        .fields {
          display: flex;
          flex-direction: column;
          margin-right: 4%;
        }
        .fieldHalf {
          background: transparent;
          border: 0px;
          border-bottom: 2px solid #7a236c;
          padding: 5px;
          width: 100%;
          left: 15vw;
          position: relative;
        }
        .fields {
          width: 40vw;
        }
        .field {
          width: 35vw;
          background: transparent;
          border: 0px;
          padding: 5px;
          align-self: center;
          left: 17vw;
          position: relative;
        }
        .recaptcha {
          left: 15vw;
          position: relative;
        }
        .message {
          width: 100%;
          height: 162px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7a236c;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #7a236c;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: #7a236c;
        }
        input[type="text"] {
          width: 100%;
          border: none;
          background-color: #07112a;
          border: none;
          font-size: 15px;
          outline-offset: 10px;
          color: #c742b1;
        }
        textarea {
          background-color: #07112a;
          outline: 2px solid #7a236c;
          color: #c742b1;
          font-size: 20px;
          align-self: center;
        }

        .buttonSubmit {
          position: relative;
          background: #000303;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          height: 40px;
          width: 100%;
          color: #c742b1;
          cursor: pointer;
          text-transform: uppercase;
          left: 0vw;
        }
        ul {
          list-style-type: none;
        }
        *:focus {
          box-shadow: none;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  //section 1 2 and 3
  body {
    overflow: hidden;
    //thenav
    .nav1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      width: 100%;
      background-color: rgb(92, 44, 94);
      z-index: 100;
      .navlist {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(92, 44, 94);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        display: none;
        z-index: 200;
      }
      .navlist a {
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-weight: bolder;
      }
      .navlist li {
        list-style: none;
        opacity: 0;
      }
      .logo {
        height: 8vh;
        width: auto;
      }
      .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
      }
      .burger {
        display: block;
        cursor: pointer;
      }
      .nav-active1 {
        display: inline;
      }
      .nav-active2 {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 8vh;
        background-color: rgb(92, 44, 94);
        flex-direction: column;
        align-items: center;
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        z-index: 200;
      }
      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
      .toggle .line1 {
        transform: rotate(90deg) translate(-5px, -5px);
      }
      .toggle .line2 {
        transform: rotate(90deg);
      }
      .toggle .line3 {
        transform: rotate(90deg) translate(5px, 5px);
      }
    }

    //first100vh style
    .section1 {
      display: flex;
      height: 92vh;
      width: 100%;
      justify-content: center;
      .h11,
      .h21 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        padding: 30px;
      }
      .text1 {
        position: absolute;
        width: 75vw;
        height: 70vh;
        top: 10vh;
        left: 12.5vw;
        background-color: #07112a;
      }
      .h11 {
        position: relative;
        top: 50px;
        font-size: 25px;
        text-align: center;
      }
      .h21 {
        position: relative;
        top: 100px;
        text-align: center;
        font-size: 15px;
      }
      .FirstVhImg {
        height: 100%;
        width: 100%;
      }
    }

    //second100vh style
    .section2 {
      display: flex;
      height: 92vh;
      justify-content: center;
      .p11 {
        color: rgb(176, 113, 212);
        font-family: Helvetica;
        z-index: 1;
        top: 105%;
        font-size: 15px;
        padding: 7px;
        text-align: center;
      }
      .text1 {
        position: relative;
        width: 75vw;
        height: 75vh;
        top: 10vh;
        background-color: #07112a;
      }
      .SecondVhImg {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .contactForm {
        position: relative;
        padding: 20px;
        height: 45vh;
        width: 75vw;
        left: 0vw;
        display: flex;
        flex-direction: column;
        padding: 10px;
        .fields {
          display: flex;
          flex-direction: column;
          margin-right: 4%;
        }
        .fieldHalf {
          background: transparent;
          border: 0px;
          border-bottom: 2px solid #7a236c;
          padding: 5px;
          width: 100%;
          left: 15vw;
          position: relative;
        }
        .fields {
          width: 40vw;
        }
        .field {
          width: 35vw;
          background: transparent;
          border: 0px;
          padding: 5px;
          left: 17vw;
          position: relative;
        }
        .recaptcha {
          left: 0vw;
          position: relative;
        }
        .message {
          width: 100%;
          height: 162px;
        }
        ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7a236c;
        }
        ::-moz-placeholder {
          /* Firefox 19+ */
          color: #7a236c;
        }
        :-ms-input-placeholder {
          /* IE 10+ */
          color: #7a236c;
        }
        input[type="text"] {
          width: 100%;
          border: none;
          background-color: #07112a;
          border: none;
          font-size: 15px;
          outline-offset: 10px;
          color: #c742b1;
        }
        textarea {
          background-color: #07112a;
          outline: 2px solid #7a236c;
          color: #c742b1;
          font-size: 20px;
          align-self: center;
        }

        .buttonSubmit {
          position: relative;
          background: #000303;
          text-align: center;
          padding: 10px;
          border-radius: 10px;
          height: 40px;
          width: 100%;
          color: #c742b1;
          cursor: pointer;
          text-transform: uppercase;
          left: 0vw;
        }
        ul {
          list-style-type: none;
        }
        *:focus {
          box-shadow: none;
        }
      }
    }
  }
}
