//loading function libraries and colors
@import "\includes/styleFunctions.scss";
$BlackForShadowsAndEffects:rgba(0, 0, 0, 0.75);
$YellowForBackgroundEffects:#816e1b;
$Color1:rgba(66, 27, 88, 1);
$Color2:rgba(105, 32, 32, 1);
$Color3:rgba(7, 17, 42, 1);
$Color1Lightened:lighten($Color1,40%);
$Color1SlightLightened:lighten($Color1,20%);
$NavColor: #5c2c5e; 

@include pageandcontainermaking();

@media screen and (min-width: 1550px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navfordesktop(50%);
    }

    //first100vh style
    .section1 {
      @include home-section1(6.6%, polygon(
        20% 20%,
        31% 0,
        100% 0,
        59% 72%,
        36% 100%,
        0 100%,
        0 75%,
        16% 58%
      ),5vw,1.8vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form1();
    }

    //third100vh style
    .section3 {
      @include home-section3-form1(20px);
      .footer {
        @include footer(67vh, 18vh, 20px);
      }
    }
  }
}

@media screen and (max-width: 1550px) and (min-width: 1300px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navfordesktop(50%);
    }

    //first100vh style
    .section1 {
      @include home-section1(7%, polygon(
        20% 20%,
        31% 0,
        100% 0,
        59% 72%,
        36% 100%,
        0 100%,
        0 75%,
        16% 58%
      ),5vw,1.8vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form1();
    }

    //third100vh style
    .section3 {
      @include home-section3-form1(18px);
      .footer {
        @include footer(67vh, 18vh, 20px);
      }
    }
  }
}
@media screen and (max-width: 1300px) and (min-width: 1000px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navfordesktop(40%);
    }
    
    //first100vh style
    .section1 {
      @include home-section1(7.5%, polygon(0 0, 100% 0, 100% 50%, 46% 100%, 0 100%, 0% 50%),5vw,1.8vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form2();
    }

    //third100vh style
    .section3 {
      @include home-section3-form2();
      .footer {
        @include footer(71vh, 19vh, 20px);
      }
    }
  }
}
@media screen and (max-width: 1000px) and (min-width: 950px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navfordesktop(50%);
    }

    //first100vh style
    .section1 {
      @include home-section1(7.5%, polygon(0 0, 100% 0, 100% 50%, 46% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form2();
    }

    //third100vh style
    .section3 {
      @include home-section3-form3();
      .footer {
        @include footer(71vh, 19vh, 20px);
      }
    }
  }
}
@media screen and (max-width: 950px) and (min-width: 750px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navfordesktop(50%);
    }

    //first100vh style
    .section1 {
      @include home-section1(8.5%, polygon(0 0, 100% 0, 100% 50%, 46% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form2();
    }

    //third100vh style
    .section3 {
      @include home-section3-form4();
      .footer {
        @include footer(71vh, 19vh, 13.7px);
      }
    }
  }
}
//mobile
@media screen and (max-width: 750px) and (min-width: 700px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1(8.5%, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(20px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 20vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 47vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 16px;
          }
        }
      }
      #prevBtn {
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: absolute;
        top: 74vh;
        left: 13vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 74vh;
        right: 11vw;
        border-color: $Color2;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 19vh, 12px);
      }
    }
  }
}
@media screen and (max-width: 700px) and (min-width: 510px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1-mobile(8%, 10px, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(15px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 20vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 47vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 13px;
          }
        }
      }
      #prevBtn {
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: absolute;
        top: 74vh;
        left: 13vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 40px;
        width: 40px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 74vh;
        right: 11vw;
        border-color: $Color2;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 19vh, 10px);
      }
    }
  }
}
@media screen and (max-width: 510px) and (min-width: 450px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1-mobile(8%, 10px, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(15px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 20vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 47vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 13px;
          }
        }
      }
      #prevBtn {
        height: 37px;
        width: 37px;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        left: 2.3vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 37px;
        width: 37px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        right: 0vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 19vh, 10px);
      }
    }
  }
}
@media screen and (max-width: 450px) and (min-width: 360px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1-mobile(8%, 10px, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(15px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 20vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 47vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 13px;
          }
        }
      }
      #prevBtn {
        height: 37px;
        width: 37px;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        left: 2.3vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 37px;
        width: 37px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        right: 0vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 19vh, 10px);
      }
    }
  }
}
@media screen and (max-width: 360px) and (min-width: 320px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1-mobile(8%, 10px, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(15px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 18vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 49vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 13px;
          }
        }
      }
      #prevBtn {
        height: 37px;
        width: 37px;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        left: 2.3vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 37px;
        width: 37px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        right: 0vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 22vh, 10px);
      }
    }
  }
}
@media screen and (max-width: 320px) {
  //section 1 2 and 3
  body {
    //thenav
    .nav1 {
      @include navformobile();
    }

    //first100vh style
    .section1 {
      @include home-section1-mobile(8%, 10px, polygon(0 0, 100% 2%, 100% 49%, 55% 100%, 0 100%, 0% 50%),10vw,3.6vw);
    }

    //second100vh style
    .section2 {
      @include home-section2-form3(15px);
    }

    //third100vh style
    .section3 {
      height: 92vh;
      background-color: $YellowForBackgroundEffects;
      position: relative;
      .divh31 {
        background-color: $Color3;
        height: 10vh;
        text-align: center;
      }
      .h31 {
        font-size: 30px;
        color: $Color1;
        padding: 3vh;
      }
      .container {
        width: 25vw;
        height: 67vh;
        width: 75vw;
        position: absolute;
        top: 12vh;
        left: 12.5vw;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 75px 13px rgba(0, 0, 0, 0.75);
        .display {
          height: 67vh;
          width: 75vw;
          position: absolute;
          display: flex;
          flex-direction: column;
          transition: left 0.4s ease-in-out;
          img {
            height: 18vh;
            width: 75vw;
            position: relative;
          }
          .textp3 {
            height: 49vh;
            width: 75vw;
            position: relative;
            background-color: $Color3;
            color: $Color1;
            font-size: 10px;
          }
        }
      }
      #prevBtn {
        height: 37px;
        width: 37px;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        left: 2.3vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #prevBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      #nextBtn {
        height: 37px;
        width: 37px;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 50vh;
        right: 0vw;
        border-color: $Color2;
        background-color: $Color3;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        outline: none;
        z-index: 100;
      }
      #nextBtn:hover {
        border-color: $BlackForShadowsAndEffects;
        transition: 0.6s;
      }
      .footer {
        @include footer(71vh, 22vh, 10px);
      }
    }
  }
}