.img {
  height: 500px;
  width: 50vw;
  position: absolute;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.img {
  transition: left 0.4s ease-in-out;
}
.container {
  width: 25vw;
  height: 500px;
  width: 50vw;
  position: absolute;
  top: 50px;
  left: 25vw;
}
