* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #5c2c5e;
    align-items: center;
  }
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navlist a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
  }
  .navlist li {
    list-style: none;
  }
  .logo {
    height: 70px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .burger {
    display: none;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1000) {
  .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #5c2c5e;
    align-items: center;
  }
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navlist a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
  }
  .navlist li {
    list-style: none;
  }
  .logo {
    height: 70px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #5c2c5e;
    align-items: center;
  }
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navlist a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
  }
  .navlist li {
    list-style: none;
  }
  .logo {
    height: 70px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .burger {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  body {
    overflow: hidden;
  }
  .nav1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #5c2c5e;
  }
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5c2c5e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .navlist a {
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
  }
  .navlist li {
    list-style: none;
    opacity: 0;
  }
  .logo {
    height: 70px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(90deg) translate(-5px, -5px);
            transform: rotate(90deg) translate(-5px, -5px);
  }
  .toggle .line2 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .toggle .line3 {
    -webkit-transform: rotate(90deg) translate(5px, 5px);
            transform: rotate(90deg) translate(5px, 5px);
  }
}
/*# sourceMappingURL=style.css.map */